<tr class="ListRow">
	<td class="ListField EventTime"><%= format_time(build_event.created_at) %></td>
	<td class="ListField EventText"><%= build_event.event_text.bbcode_to_html.html_safe %></td>
	<td class="ListField Changes"><%= build_event.change_text.bbcode_to_html.html_safe %></td>
	<td class="ListField CreatedBy">
		<% if build_event.created_by.nil? %>
			Support
		<% else %>
			<%= render build_event.created_by %>
		<% end %>
	</td>
	<td class="ListField AssignedTo">
		<% if build_event.assigned_to.nil? %>
			Support
		<% else %>
			<%= render build_event.assigned_to %>
		<% end %>
	</td>
	<td class="ListField TimeSpent"><%= build_event.time_spent %></td>
	<td class="ListField File"><%= link_to "test", build_event.file.url %></td>
</tr>