<% headers = ['', 'Build ID', 'Device ID', 'Customer Name', 'Date Opened', 'Status', 'Assigned To'] %>

<%= tabs_start("buildqueue")%>
<%= tabitem("buildqueue", 0, "Open build Queue", true) %>

<div class="Half">
	<%= line_chart [
		{name: Date.today.years_ago(2).year, data: Build.group_by_day_of_week(:created_at, format: "%a", range: Date.today.years_ago(2).all_week).count},
		{name: Date.today.years_ago(1).year, data: Build.group_by_day_of_week(:created_at, format: "%a", range: Date.today.years_ago(1).all_week).count},
		{name: Date.today.year, data: Build.group_by_day_of_week(:created_at, format: "%a", range: Date.today.all_week).count},
		], discrete: true, height: "100px", library: {title: "# of builds Opened",
														backgroundColor: "#D2DEF4",
														axisTitlesPosition: 'none',
														chartArea: {left: 40, top: 10, width: '75%'}
														} %>
	<div class="List">
		<span class="Count"><%= @openbuilds.count %></span>
		<span class="Tablename">Open builds</span>
		<div class="ListContents">
			<table class="ListTable">
				<thead>
					<tr>
						<% headers.each do |h| %>
						<th class="ListHeader"><%= link_to h, sort: h %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<%= render @openbuilds %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="Half">
	<div class="List">
		<span class="Count"><%= @builtbuilds.count %></span>
		<span class="Tablename">Built builds</span>
		<div class="ListContents">
			<table class="ListTable">
				<thead>
					<tr>
						<% headers.each do |h| %>
						<th class="ListHeader"><%= link_to h, sort: h %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<%= render @builtbuilds %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<%= tabitem_end %>
<%= tabitem("buildqueue",  1, "Shipping build Queue") %>

<div class="Half">
	<div class="List">
		<span class="Count"><%= @verifiedbuilds.count %></span>
		<span class="Tablename">Verified builds</span>
		<div class="ListContents">
			<table class="ListTable">
				<thead>
					<tr>
						<% headers.each do |h| %>
						<th class="ListHeader"><%= link_to h, sort: h %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<%= render @verifiedbuilds %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="Half">
	<div class="List">
		<span class="Count"><%= @shippedbuilds.count %></span>
		<span class="Tablename">Shipped builds</span>
		<div class="ListContents">
			<table class="ListTable">
				<thead>
					<tr>
						<% headers.each do |h| %>
						<th class="ListHeader"><%= link_to h, sort: h %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<%= render @shippedbuilds %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<%= tabitem_end %>
<%= tabitem("buildqueue",  2, "Finalize build Queue") %>

<div class="Half">
	<div class="List">
		<span class="Count"><%= @returnedbuilds.count %></span>
		<span class="Tablename">Returned builds</span>
		<div class="ListContents">
			<table class="ListTable">
				<thead>
					<tr>
						<% headers.each do |h| %>
						<th class="ListHeader"><%= link_to h, sort: h %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<%= render @returnedbuilds %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="Half">
	<div class="List">
		<span class="Count"><%= @completedbuilds.count %></span>
		<span class="Tablename">Completed builds</span>
		<div class="ListContents">
			<table class="ListTable">
				<thead>
					<tr>
						<% headers.each do |h| %>
						<th class="ListHeader"><%= link_to h, sort: h %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<%= render @completedbuilds %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<%= tabitem_end %>
<%= tabitem("buildqueue",  3, "My build Queue") %>

<div class="Half">
	<div class="List">
		<span class="Count"><%= @usersbuilds.count %></span>
		<span class="Tablename">My Incomplete builds</span>
		<div class="ListContents">
			<table class="ListTable">
				<thead>
					<tr>
						<% headers.each do |h| %>
						<th class="ListHeader"><%= link_to h, sort: h %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<%= render @usersbuilds %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="Half">
	<div class="List">
		<span class="Count"><%= @userscompletedbuilds.count %></span>
		<span class="Tablename">My Completed builds</span>
		<div class="ListContents">
			<table class="ListTable">
				<thead>
					<tr>
						<% headers.each do |h| %>
						<th class="ListHeader"><%= link_to h, sort: h %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<%= render @userscompletedbuilds %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<%= tabitem_end %>
<%= tabs_end %>