<%= form_for [@robotic] do |f| %>
	<div class="Robotic NewEditForm">
	<table>
		<tr>
			<th colspan="4" style="text-align:left; ">
				Enter a New Robotic
			</th>
		</tr>
		<tr>
			<td class="Leftside">
				<%= f.label :serial %>
			</td>
			<td class="Info">
				<%= f.text_field :serial %>
			</td>
			<td class="Leftside">
				<%= f.label :robotic_type %>
			</td>
			<td class="Info">
				<%= f.select :robotic_type, dropdown_options("RoboticType", @robotic.robotic_type).html_safe, include_blank: "Select" %>
			</td>
		</tr>
		<tr>
			<td class="Leftside">
				<%= f.label :robotic_flash %>
			</td>
			<td class="Info">
				<%= f.select :robotic_flash, dropdown_options("RoboticFlash", @robotic.robotic_flash).html_safe, include_blank: "Select" %>
			</td>
			
			<td class="Leftside">
				<%= f.label :burner_flash %>
			</td>
			<td class="Info">
				<%= f.select :burner_flash, dropdown_options("BurnerFlash", @robotic.burner_flash).html_safe, include_blank: "Select" %>
			</td>
		</tr>
		<tr>
			<td class="Leftside">
				<%= f.label :cable_type %>
			</td>
			<td class="Info">
				<%= f.select :cable_type, dropdown_options("CableType", @robotic.cable_type).html_safe, include_blank: "Select" %>
			</td>
			<td class="Leftside">
				<%= f.label :burner_type %>
			</td>
			<td class="Info">
				<%= f.select :burner_type, dropdown_options("BurnerType", @robotic.burner_type).html_safe, include_blank: "Select" %>
			</td>
		</tr>
		<tr>
			<td colspan="2"></td>
			<td class="Leftside">
				<%= f.label :num_burners %>
			</td>
			<td class="Info">
				<%= f.number_field :num_burners %>
			</td>
		</tr>
		<tr>
			<td colspan="3"></td>
			<td>
				<%= f.submit "Save" %>
			</td>
		</tr>
	</table>
	</div>
<% end %>