<%= tabs_start('inventory') %>
<%= tabitem('inventory', 0, "Printer Serial: #{@printer.serial}", true) %>


<div class="Inventory EventForm">
	<span>
		<%= link_to @printer.watches.exists?(user: current_user) ? image_tag("unwatch.png") : image_tag("watch.png"), watch_printer_path(@printer) %>
	</span>
	<%= form_for [@printer, @hardware_event] do |f| %>
		<table>
			<tr>
				<td class="Leftside">
					Serial:
				</td>
				<td class="Info">
					<%= @printer.serial %>
				</td>
				<td class="Leftside">
					Type:
				</td>
				<td class="Info">
					Printer
				</td>
			</tr>
			<tr>
				<td class="Leftside">
					Location:
				</td>
				<td class="Info">
				</td>
				<td class="Leftside">
					Model:
				</td>
				<td class="Info">
					<%= @printer.printer_type.name unless @printer.printer_type.nil? %>
				</td>
			</tr>
			<%= fields_for @printer do |p| %>
			<tr>
				<td class="Leftside">
					<%= p.label :printer_flash %>
				</td>
				<td class="Info">
					<%= p.select :printer_flash, dropdown_options("PrinterFlash", @printer.printer_flash).html_safe, include_blank: "Select" %>
				</td>
				<td colspan="2"></td>
			</tr>
			<% end %>
			<tr>
				<td colspan="4">
					<%= f.text_area :note, placeholder: "Inventory Note" %>
				</td>
			</tr>
			<tr>
				<td></td>
				<td colspan="2"></td>
				<td class="Leftside">
					<%= f.submit "Save" %>
				</td>
			</tr>
		</table>
	<% end %>
</div>
	
<% headers = ['Time', 'Note', 'User'] %>
<div class="Inventory EventSummary">
	<div class="List">
		<span class="Count"><%= @hardware_events.count %></span>
		<span class="Tablename">Inventory Notes</span>
		<div class="ListContents">
			<table class="ListTable">
				<thead>
					<tr>
						<% headers.each do |h| %>
						<th class="ListHeader"><%= link_to h, sort: h %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<%= render @hardware_events %>
				</tbody>
			</table>
		</div>
	</div>
	
	
<% headers = ['', 'RMA ID', 'Device ID', 'Customer Name', 'Date Opened', 'Status', 'Assigned To'] %>

	<div class="List">
		<span class="Count"><%= @rmas.count %></span>
		<span class="Tablename">RMAs</span>
		<div class="ListContents">
			<table class="ListTable">
				<thead>
					<tr>
						<% headers.each do |h| %>
						<th class="ListHeader"><%= link_to h, sort: h %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<%= render @rmas %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<%= tabitem_end %>
<%= tabs_end %>
