<div onmousedown="clickhandler(event, '<%= link %>')" class="AppMenuItem">
	<%= name %>
	<div class="Count">
		<span class="count1" style="display:<%= display1 %>;"><%= count1 %></span>
		<span class="count2" style="display:<%= display2 %>;"><%= count2 %></span>
	</div>
</div>
